default: &default
  adapter: postgresql
  encoding: unicode
  pool: 25
  database: <%= ENV['CROSSFIT_DB_NAME'] || 'workout_development' %>
  username: <%= ENV['CROSSFIT_DB_USER'] %>
  password: <%= ENV['CROSSFIT_DB_PASSWORD'] %>

development:
  <<: *default

test:
  <<: *default
  database: workout_test

production:
  <<: *default
