default: &default
  secret_key_base: <%= ENV['CROSSFIT_SECRET_KEY_BASE'] %>
  bugsnag_key: <%= ENV['CROSSFIT_BUGSNAG_KEY'] %>

development:
  <<: *default

test:
  <<: *default

production:
  <<: *default
